In [69]:
import pandas as pd
import numpy as np

In [5]:
weather_df = pd.read_csv('weather_2012.csv')
weather_df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [6]:
weather_df.shape

(8784, 8)

In [7]:
weather_df.index

RangeIndex(start=0, stop=8784, step=1)

In [10]:
weather_df['Date/Time'].head()

0    2012-01-01 00:00:00
1    2012-01-01 01:00:00
2    2012-01-01 02:00:00
3    2012-01-01 03:00:00
4    2012-01-01 04:00:00
Name: Date/Time, dtype: object

In [11]:
weather_df['Date/Time'] = pd.to_datetime(weather_df['Date/Time'])

In [12]:
weather_df['Date/Time'].head()

0   2012-01-01 00:00:00
1   2012-01-01 01:00:00
2   2012-01-01 02:00:00
3   2012-01-01 03:00:00
4   2012-01-01 04:00:00
Name: Date/Time, dtype: datetime64[ns]

In [13]:
weather_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date/Time           8784 non-null   datetime64[ns]
 1   Temp (C)            8784 non-null   float64
 2   Dew Point Temp (C)  8784 non-null   float64
 3   Rel Hum (%)         8784 non-null   int64
 4   Wind Spd (km/h)     8784 non-null   int64
 5   Visibility (km)     8784 non-null   float64
 6   Stn Press (kPa)     8784 non-null   float64
 7   Weather             8784 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 549.1+ KB

In [14]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [15]:
weather_df['Weather'].nunique()

50

In [16]:
weather_df['Weather'].value_counts()

Weather
Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Rain Showers,Snow Showers                     2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Fog                              1
Thunderstorms,Moderate Rain Showers,Fog       1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Moderate Rain,Fog                             1
Freezing Rain,Ice Pellets,Fog                 1
Drizzle,Ice Pellets,Fog                       1
Thunderstorms,Rain,Fog                        1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Thunderstorms,Heavy Rain Showers              1
Freezing Rain,Snow Grains                     1
Name: count, dtype: int64

In [18]:
weather_df[:25]     #Get the first 25 rows

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
5,2012-01-01 05:00:00,-1.4,-3.3,87,9,6.4,101.27,Fog
6,2012-01-01 06:00:00,-1.5,-3.1,89,7,6.4,101.29,Fog
7,2012-01-01 07:00:00,-1.4,-3.6,85,7,8.0,101.26,Fog
8,2012-01-01 08:00:00,-1.4,-3.6,85,9,8.0,101.23,Fog
9,2012-01-01 09:00:00,-1.3,-3.1,88,15,4.0,101.20,Fog
10,2012-01-01 10:00:00,-1.0,-2.3,91,9,1.2,101.15,Fog
11,2012-01-01 11:00:00,-0.5,-2.1,89,7,4.0,100.98,Fog
12,2012-01-01 12:00:00,-0.2,-2.0,88,9,4.8,100.79,Fog
13,2012-01-01 13:00:00,0.2,-1.7,87,13,4.8,100.58,Fog
14,2012-01-01 14:00:00,0.8,-1.1,87,20,4.8,100.31,Fog
15,2012-01-01 15:00:00,1.8,-0.4,85,22,6.4,100.07,Fog
16,2012-01-01 16:00:00,2.6,-0.2,82,13,12.9,99.93,Mostly Cloudy
17,2012-01-01 17:00:00,3.0,0.0,81,13,16.1,99.81,Cloudy
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
20,2012-01-01 20:00:00,3.2,1.3,87,19,25.0,99.50,Cloudy
21,2012-01-01 21:00:00,4.0,1.7,85,20,25.0,99.39,Cloudy
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers

In [21]:
# Get the first 3 alternating rows from the "weather_df" dataframe

weather_df[0:10:2]['Visibility (km)']

0    8.0
2    4.0
4    4.8
6    6.4
8    8.0
Name: Visibility (km), dtype: float64

In [25]:
# goes on label basis

weather_df.loc[0:6, ['Date/Time','Visibility (km)']]

            Date/Time  Visibility (km)
0 2012-01-01 00:00:00              8.0
1 2012-01-01 01:00:00              8.0
2 2012-01-01 02:00:00              4.0
3 2012-01-01 03:00:00              4.0
4 2012-01-01 04:00:00              4.8
5 2012-01-01 05:00:00              6.4
6 2012-01-01 06:00:00              6.4

In [30]:
# goes on index basis

weather_df[['Date/Time','Visibility (km)']].iloc[0:6]

   Rel Hum (%)  Visibility (km)
0           86              8.0
1           87              8.0
2           89              4.0
3           88              4.0
4           88              4.8
5           87              6.4

In [34]:
# Get the 1st 3 rows from weather_df dataframe.

weather_df.loc[0:5:2, ['Rel Hum (%)','Visibility (km)']]

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

In [40]:
Snowed_filter= weather_df["Weather"].str.lower().str.contains("snow")
Snowed_filter

0       False
1       False
2       False
3       False
4       False
        ...
8779     True
8780     True
8781     True
8782     True
8783     True
Name: Weather, Length: 8784, dtype: bool

In [37]:
weather_df["Weather"].iloc[4456]

'Thunderstorms'

In [41]:
weather_df[Snowed_filter]

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
41,2012-01-02 17:00:00,-2.1,-9.5,57,22,25.0,99.66,Snow Showers
44,2012-01-02 20:00:00,-5.6,-13.4,54,24,25.0,100.07,Snow Showers
45,2012-01-02 21:00:00,-5.8,-12.8,58,26,25.0,100.15,Snow Showers
47,2012-01-02 23:00:00,-7.4,-14.1,59,17,19.3,100.27,Snow Showers
48,2012-01-03 00:00:00,-9.0,-16.0,57,28,25.0,100.35,Snow Showers
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

In [46]:
# Find all instances when wind speed was above 24 and visibility was 25

df= weather_df[(weather_df['Wind Spd (km/h)']>24) & (weather_df['Visibility (km)']==25)]
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
23,2012-01-01 23:00:00,5.3,2.0,79,30,25.0,99.31,Cloudy
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
26,2012-01-02 02:00:00,3.9,-0.9,71,32,25.0,99.26,Mostly Cloudy
27,2012-01-02 03:00:00,3.7,-1.5,69,33,25.0,99.30,Mostly Cloudy

## Working with columns

In [47]:
add_10 = weather_df['Wind Spd (km/h)'] +10
add_10.head()

0    14
1    14
2    17
3    16
4    17
Name: Wind Spd (km/h), dtype: int64

### Apply / Call Functions

#### .apply()

In [48]:
# Applying the custom functions

def times2(value):
    return value*2

In [49]:
weather_df['Visibility (km)'].head()

0    8.0
1    8.0
2    4.0
3    4.0
4    4.8
Name: Visibility (km), dtype: float64

In [50]:
weather_df['Visibility (km)'].head().apply(times2).head()

0    16.0
1    16.0
2     8.0
3     8.0
4     9.6
Name: Visibility (km), dtype: float64

#### .describe()

In [52]:
# It is used to summarize the central tendency, dispersion and shape of a dataset's distribution, excluding NaN values

weather_df['Visibility (km)'].describe()

count    8784.000000
mean       27.664447
std        12.622688
min         0.200000
25%        24.100000
50%        25.000000
75%        25.000000
max        48.300000
Name: Visibility (km), dtype: float64

#### Adding/ Updating Columns

In [55]:
visibility_in_meter = weather_df['Visibility (km)'] * 1000
visibility_in_meter

0        8000.0
1        8000.0
2        4000.0
3        4000.0
4        4800.0
         ...
8779     9700.0
8780     9700.0
8781     4800.0
8782     9700.0
8783    11300.0
Name: Visibility (km), Length: 8784, dtype: float64

In [56]:
weather_df['Visibility (m)'] = visibility_in_meter
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (m)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

#### .rename()

In [57]:
weather_df.rename(columns={'Visibility (m)' : 'Visibility (meters)'}, inplace = True)
weather_df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,Visibility (meters)
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,8000.0
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,8000.0
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",4000.0
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",4000.0
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,4800.0

#### .drop()

In [59]:
# Since we've not mentioned inplace= True, it returns a new dataframe.

weather_df = weather_df.drop(labels=['Visibility (meters)'], axis=1)

In [60]:
weather_df

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog
1,2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog
2,2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog"
3,2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog"
4,2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog
...,...,...,...,...,...,...,...,...
8779,2012-12-31 19:00:00,0.1,-2.7,81,30,9.7,100.13,Snow
8780,2012-12-31 20:00:00,0.2,-2.4,83,24,9.7,100.03,Snow
8781,2012-12-31 21:00:00,-0.5,-1.5,93,28,4.8,99.95,Snow
8782,2012-12-31 22:00:00,-0.2,-1.8,89,28,9.7,99.91,Snow
8783,2012-12-31 23:00:00,0.0,-2.1,86,30,11.3,99.89,Snow

#### Which were the top 10 hottest values and their counts

In [63]:
sorted_value_counts = weather_df['Temp (C)'].value_counts().sort_values(ascending=False)
sorted_value_counts.iloc[:10]

Temp (C)
16.6    65
1.1     58
0.8     47
1.5     45
19.3    44
21.1    43
2.6     43
0.4     41
1.3     40
14.6    39
Name: count, dtype: int64

## Pivot Tables: Excellent way to summarize your data!

A pivot table is a tool that allows you to reorganize and summarize selected columns and rows of data in a dataframe

Pivot table provides an easy way to subset by  one column and then apply a calculation like a sum or a mean

Pivot table first groups and then applies a calculation

In [67]:
data = {
    'A': ['a','b','b','a'],
    'B': ['p','q','r','s'],
    'C': ['x','y','x','y'],
    'D': [1,2,3,5]
}

df = pd.DataFrame(data)
df

   A  B  C  D
0  a  p  x  1
1  b  q  y  2
2  b  r  x  3
3  a  s  y  5

In [70]:
pivot_df = df.pivot_table(
            values = 'D',     # We want to aggregate the values of which column?
            index = 'A',      # We want to use which column as new index
            columns= 'C',     # We want to use the values of which column as the new columns?
            aggfunc= np.sum
)

pivot_df

C:\Users\rishita.mathur\AppData\Local\Temp\ipykernel_73840\3482634629.py:1: FutureWarning: The provided callable <function sum at 0x000002451C592C00> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  pivot_df = df.pivot_table(

C  x  y
A
a  1  5
b  3  2

In [72]:
# Convert it back to a simple index

pivot_df.reset_index()

C  A  x  y
0  a  1  5
1  b  3  2

##### What is the mean temperature recorded by month?

In [73]:
mean_temperature_df = weather_df.pivot_table(values = 'Temp (C)', index= weather_df['Date/Time'].dt.month, aggfunc= np.mean)
mean_temperature_df

C:\Users\rishita.mathur\AppData\Local\Temp\ipykernel_73840\203092577.py:1: FutureWarning: The provided callable <function mean at 0x000002451C593CE0> is currently using DataFrameGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  mean_temperature_df = weather_df.pivot_table(values = 'Temp (C)', index= weather_df['Date/Time'].dt.month, aggfunc= np.mean)

            Temp (C)
Date/Time
1          -7.371505
2          -4.225000
3           3.121237
4           7.009306
5          16.237769
6          20.134028
7          22.790054
8          22.279301
9          16.484444
10         10.954973
11          0.931389
12         -3.306317

#### Group By

In [ ]:
mean_temperature_df = weather_df.groupby(weather_df['Date/Time'].dt.month).agg("mean")
mean_temperature_df

#### Working with excel file

In [80]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\rishita.mathur\appdata\local\anaconda\lib\site-packages (3.0.10)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et_xmlfile in c:\users\rishita.mathur\appdata\local\anaconda\lib\site-packages (from openpyxl) (1.1.0)

In [81]:
from openpyxl import Workbook

workbook = Workbook()
sheet = workbook.active

sheet["A1"] = "Hello!"
sheet["B1"] = "World!"

workbook.save(filename= "hello_world.xlsx")